@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  background-image: url(../imagens/wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'VT323', sans-serif;
  color: #f3f3f3;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding: 30px;
}

.border{
  display: flex;
  align-content: center;
  border-radius: 12px;
  padding: 4px;
  /* Created with https://www.css-gradient.com */
  background: #03E8F6;
  background: -webkit-linear-gradient(right, #03E8F6, #B101FF);
  background: -moz-linear-gradient(right, #03E8F6, #B101FF);
  background: linear-gradient(to left, #03E8F6, #B101FF);
}

.cartao{
  background-color: #070B12;
  width: 370px;
  border-radius: 10px;
  overflow: hidden;
}

.cartao .minhas-informacoes {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.border-img {
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 3px;
  /* Created with https://www.css-gradient.com */
  background: #03E8F6;
  background: -webkit-linear-gradient(right, #03E8F6, #B101FF);
  background: -moz-linear-gradient(right, #03E8F6, #B101FF);
  background: linear-gradient(to left, #03E8F6, #B101FF);
}

.cartao .minhas-informacoes img{
  border-radius: 50%;
  width: 96px;
}

.cartao .minhas-informacoes .nome{
  font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
  color: #b8bbc5;
  font-size: 20px;
}

.cartao .conteudo{
  margin-top: 15px;
}

.cartao .abas{
  display: flex;
}

.cartao .abas .aba{
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.abas img {
  width: 30px;
}

.cartao .abas .aba.selecionado {
  background-color: #262626;
}

.cartao .informacoes-abas {
  background-color: #262626;
  height: 340px;
}

.cartao .abas .aba:hover {
  background-color: #414141;
}

.cartao .informacoes-abas .informacao {
  min-height: 260px;
  padding: 15px;
  display: none;
}

.informacoes-abas .informacao.selecionado {
  display: block;
}

.informacoes-abas .sub-titulo{
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
}

.informacoes-abas .descricao {
  font-size: 20px;
  max-height: 240px;
  overflow-y: auto;
  padding-right: 15px;
}

span {
  color: #03E8F6;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-height: 260px;
  overflow-y: auto;
}

.redes-sociais li a {
  background-color: red;
  display: block;
  width: 300px;
  color: #f3f3f3;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.redes-sociais li a:hover{
  opacity: 0.8;
}

.redes-sociais .twitch {
  background-color: #6441a5;
}

.redes-sociais .twitter {
  background-color: #00acee;
}

.redes-sociais .instagram {
  background-color: #3f729b;
}

.redes-sociais .github {
  background-color: #545454;
}